version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: your_username
      MONGO_INITDB_ROOT_PASSWORD: your_password
    volumes:
      - mongodb_data:/data/db

  flask_backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: flask_backend
    environment:
      - MONGODB_PASSWORD=${MONGODB_PASSWORD}
      - USERS=${USERS}
    ports:
      - "8000:8000" # Replace with your app's port
    depends_on:
      - mongodb

volumes:
  mongodb_data:
